h1 {
	color: green;
}

.win {
	background-color: #EDFFDF;
}

.draw {
	background-color: #F3F3F3;
}

.loss {
	background-color: #FFECEC;
}

.replayTable > .controls > .play {
	width: 10px;
	height: 10px;
	background-color: black;
}

.replayTable > .controls > .pause {
	width: 10px;
	height: 10px;
	background-color: gray;
}

.replayTable > .controls > .replay {
	width: 10px;
	height: 10px;
	background-color: blue;
}

.replayTable > .controls > .previous {
	width: 10px;
	height: 10px;
	background-color: yellow;
}

.replayTable > .controls > .previous.disabled{
	background-color: lightyellow;
}

.replayTable > .controls > .next {
	width: 10px;
	height: 10px;
	background-color: green;
}

.replayTable > .controls > .next.disabled{
	background-color: lightgreen;
}



/* SLIDER ----------------------------------------------------------------------
----------------------------------------------------------------------------------------- */

.replayTable .slider{
	position: relative;
	height: 3px;
	background: rgba(0,0,0,0.1);
	margin-bottom: 20px;
}
.replayTable .slider .slider-toggle{
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	background: #999;
	top: -22px;
	left: 32px;
	cursor: pointer;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	text-align: center;
	line-height: 17px;
	font-size: 10px;
	color: #fff;
}
.replayTable .slider .slider-toggle:after{
	 content: '';
	 position: absolute;
	 bottom: -8px;
	 left: 0;
	 border-width: 8px 8px 0;
	 border-style: solid;
	 border-color: #999 transparent;
	 display: block;
	 width: 0;

 }
.replayTable .slider .slider-avalible{
	position: absolute;
	display: block;
	height: 100%;
	width: 70%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.1);
}
.replayTable .slider .slider-done{
	position: absolute;
	display: block;
	height: 100%;
	width: 40px;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.3);
}
.replayTable .slider{}
.replayTable .slider{}